body {
    background-color: white;
}
.icon {
    display: inline-block;
    margin: 0px 8px 15px 8px;
    vertical-align:top;
}
.directory-name {
  text-align: center;
  margin-bottom: 3px;
  width:100%; 
  word-wrap: normal;
}

a:link {
    color:black;
    text-decoration:none;
}
