body {
  width: 100%;
  /* border:1px solid red; */
  margin-left: auto;
  margin-right: auto;
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
}

/*  HEADER  */

.topnav {
  width: 100%;
  overflow: hidden;
  background-color: #8CC541;
  text-align: center;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}

.topnav a:hover {
  background-color: #EFC219;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#logo {
  text-align: center;
}

.logo {
  margin-top: 7mm;
  margin-bottom: 8mm;
}

.banner {
  background: radial-gradient(rgba(32, 115, 198, 0.75), rgba(32, 115, 198, 0.9));
  color: white;
  height: 14mm;
  text-align: center;
}

.banner td {
  height: 14mm;
  vertical-align: middle;
  text-align: center;
  /* width:25vw; */
}

.banner table {
  display: inline;
}

.odd {
  letter-spacing: 2px;
  font-weight: 600;
}

.even {
  letter-spacing: 2px;
  font-weight: lighter;
}

/* END HEADER  */

/* NEXT - PRVIOUS BUTTON */

.prev, .next {
  font-size: 60pt;
  color: #d3d3d3;
  text-decoration: none;
  position: fixed;
  top: 30vh;
}

.prev:hover, .next:hover {
  color: #333333;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* END NEXT - PRVIOUS BUTTON */

/* MAIN*/

#main {
  text-align: center;
  padding: 0px 60px 60px 60px;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

/*END MAIN*/

/* INTRO PAGE */

#intro-year {
  font-size: 80px;
  padding: 20px;
}

#introduction-img {
  width: 100%;
  max-width: 725px;
}

#intro {
  /*school name*/
  font-size: 40px;
  padding: 20px;
}

.directory {
  display: inline-block;
  margin: 15px 8px 15px 8px;
  vertical-align: top;
  text-align: center;
}

.icon {
  display: inline-block;
}

.icon a {
  display: inline-block;
  margin: 0px 8px 15px 8px;
  padding: 20px;
  vertical-align: top;
  background-color: #d3d3d3;
  text-align: center;
  width: 175px;
  height: 175px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.icon a:hover {
  background-color: #8cc541;
}

.icon img {
  height: 160px;
}

.directory-name {
  text-align: center;
  margin: 5px;
  width: 100%;
  word-wrap: normal;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1pt;
}

/* END Intro Page */

/* Full page images */

.fullpage-image {
  width: calc(100vw - 150px);
  max-width: calc(7.5in - 2*0.0625in);
  /* z-index: -1; */
  position: relative;
  margin-top: 20px;
  margin-bottom: 70px;
}

/* END Full page images */

/* FACULTY PAGE */

#faculty-photos {
  max-width: 800px;
  display: inline-block;
}

.person.faculty {
  display: inline-block;
  margin: 0px 3px 0px 3px;
  vertical-align: top;
}

#not-pictured {
  font-size: 10px;
  text-align: left;
  display: inline-block;
}

#not-pictured h5 {
  margin: 0px 0px 5px 0px;
}

/* END FACULTY PAGE */

/* PORTRAITS */

.person {
  display: inline-block;
  margin: 0px 8px 15px 8px;
  vertical-align: top;
}

.portrait-img {
  width: 100px;
  height: 140px;
  display: inline-block;
}

.name {
  text-align: center;
  margin-bottom: 3px;
  width: 100%;
  word-wrap: normal;
}

.nickname {
  text-align: center;
  height: 10px;
  font-weight: 600;
  letter-spacing: 1pt;
}

.subheading {
  margin-bottom: 45px;
}

.student-not-pictured{
  border: 1px solid #8CC541;
  
  width: 100px;
  height: 140px;
  display: inline-block;
}

/* PORTRAITS */

/* SENIORS PAGE */

.senior {
  background-color: #d3d3d3;
  padding: 20px 20px;
  border-radius: 5px;
  height: 180px;
  width: 220px;
  vertical-align: top;
  margin-left: 0.13in;
  margin-right: 0.13in;
  margin-bottom: 0.1in;
  margin: 10px 5px;
}

.senior:nth-of-type(2n) {
  background-color: #d3d3d3;
}

.senior:nth-of-type(2n - 1) {
  background-color: #8CC541;
}

.senior:nth-of-type(5n - 2) {
  background-color: #4290c7;
}

.senior:nth-of-type(5n - 1) {
  background-color: #EFC219;
}
.senior img{
  border: 3px solid white;
  border-radius: 5px;
}

.senior .name {
  margin-top: 10px;
  font-size: 14pt;
}

.quote {
  font-size: 11pt;
  float: right;
  width: calc(1in - 6px);
  padding: 2px 3px;
  height: 1.35in;
  display: table-cell;
  vertical-align: middle;
}

/* END SENIORS PAGE */

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EFC219;
  color: white;
  text-align: center;
}

/* END FOOTER */