
/* .printed-page:before{
  content: " asdf ";
  color:white;
  display: inline-block;
  height:0.1px;
} */
body{
  width:100%;
  /* border:1px solid red; */
  margin-left:auto;
  margin-right:auto;
}

/* DEBUG */


/* .printed-page{background-color:darkred;}
body{background-color: mediumslateblue;}
.printed-page:before{background-color:lime; } 
.page{background-color:red;}
.person{background-color:orange;}
.name{background-color:yellow;}
.nickname{background-color:green;}
.portrait-img{background-color:blue;} 
.heading{background-color:purple;}
.subheading{background-color:pink;} 
.quote{background-color:lightgreen;}
.senior{background-color:lightblue;}
.faculty{background-color:gray;}
#not-pictured h5{background-color: magenta;} */
